@import 'constants';
@import "~react-image-gallery/styles/scss/image-gallery.scss";
/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, h6, h3, h1{
    margin: 0 ;
}
ul{
    padding: 0;
    li{
        list-style: none;
    }
}

body{
    overflow-x: hidden;
}

//navBar Mobile Component

.container-navbarMobile{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-color: $color-primary;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 100;
    position: relative;

    .container-navbarMobile_logo{
        width: 15%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .svg-on{
        transform: rotate(-360deg);
        transition: all 0.3s ease-in-out;
    }
    .svg-off{
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out;
    }
    
    .container-navbarMobile_div-on{
        position: absolute;
        height: 100vh;
        width: 180px;
        top: 50px;
        left: 0;
        padding: 8px;
        background-color: $color-primary;
        transition: all 0.5s;
        z-index: 2;
    }
    .container-navbarMobile_div-off{
        position: absolute;
        height: 100vh;
        width: 180px;
        top: 50px;
        left: -180px;
        padding: 8px;
        background-color: $color-primary;
        transition: all 0.3s;
    }
    .container-navbarMobile_div{
        display: flex;
        flex-direction: column;
        .container-navbarMobile_div_link{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: 600;
            margin-top: 12px;

            .container-navbarMobile_div_span{
                margin-left: 8px;
            }
        }

        .container-navbarMobile_div_pets{
            display: flex;
            align-items: center;
            margin-top: 12px;
            .container-navbarMobile_div_pets_p{
                color: rgb(0, 0, 0);
                font-weight: 600;
                margin: auto;
            }
        }

        .categories-on{
            overflow: hidden;
            height: 180px;
            transition: all 0.3s ease-in-out;
        }

        .categories-off{
            overflow: hidden;
            height: 0px;
            transition: all 0.3s ease-in-out;
        }

        .container-navbarMobile_div_categories{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .container-navbarMobile_div_categories_link{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-weight: 600;
                margin-top: 12px;
                margin-left: 32px;

                .container-navbarMobile_div_categories_link_img{
                    width: 24px;
                }
                .container-navbarMobile_div_categories_link_span{
                    margin-left: 8px;
                }
            }
        }
    }
}

// Items component

.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;

    .container-cards_card{
        margin: 16px;
        width: 90px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: 8px;
        margin: 16px;
        transition: all 0.3s ease-in-out;

        .container-cards_card_img{
            width: 70%;
            height: 70%;
            border-radius: 8px 8px 0 0;
        }
        .container-cards_card_p{
            color: rgb(0, 0, 0);
            font-weight: 600;
            font-size: 14px;
            margin-top: 8px;
        }
    }
}

//newPeoducts component

.container-newProducts{
    margin: auto;
    width: 90%;
    padding: 16px 0;
    .container-newProducts_h2{
        width: 100%;
        padding:10px 0  ;
        margin: auto;
        background-color: $color-primary;
        text-align: center;
        color: white;
    }
}

//Slider component
.navbar-desktop_search {
    margin: 8px auto;
    width: 250px;
    height: 40px;
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 2;

    .search-container {
        display: flex;
        flex-direction: column;

        .search-input-container {
            position: relative;
            display: flex;
            align-items: center;

            .search-input {
                height: 40px;
                border: 0.5px solid $color-secondary;
                border-radius: 8px;
                padding-left: 8px;
                width: 100%;
            }

            .search-icon {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color-secondary;
                border-bottom-right-radius: 8px;
                border-top-right-radius: 8px;

                svg {
                    color: white;
                }
            }
        }

        .navbar-desktop_search-result {
            width: 100%;
            background-color: white;
            z-index: 9999;

            .navbar-desktop_search-result_link {
                text-decoration: none;
                color: black;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: transparent;
                padding: 8px;
                border-bottom: 1px solid #ccc; // Ajusta el borde según sea necesario
            }
        }
    }
}

// BrandsCarrousel componet

.slider-container{
    padding: 0px 16px;
    .slider-contaier_section{
        margin: 32px auto;
        padding: 5px 0;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: $color-primary;
        h4{
            margin: 0px;
            text-align: center;
        }
    }
}

//Card component

.container-card{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .container-card_card{
        margin: 16px 32px;
        position: relative;
        width: 220px;
        height: 350px;
        margin-top: 16px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        .container-card_card_img{
            width: 50%;
        }

        .container-card_card_h3{
            text-align: center;
        }

        .container-card_card_detail{
            text-decoration: none;
            color: white;
            padding: 6px;
            border-radius: 3px;
            font-weight: 600;
            background-color: $color-secondary;
            z-index: 2;
        }
    }
    .container-card_card::after{
        content: '';
        width: 50%;
        height: 50%;
        border-top: solid $color-primary 1px;
        border-left: solid $color-primary 1px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .container-card_card::before{
        content: '';
        width: 50%;
        height: 50%;
        border-bottom: solid $color-primary 1px;
        border-right: solid $color-primary 1px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

//paginate component

.paginate-container{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container_buttons{
        border: none;
        background-color: transparent;
        color: $color-secondary;
        margin: 0px 5px;
    }
        
    .paginate-container_p{
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 1px solid black;
    }
}

//filters component

.container-filters{
    padding: 16px 0;
    .container-filters_div-head{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .container-filters_div-head_icon{
            width: 30px;
            height: 30px;
            margin-left: 16px;
        }
    }
    .filters-on{
        height: 380px;
        transition: .3s ease-in-out;
    }
    .filters-off{
        height: 0px;
        transition: all 0.3s ease-in-out;
    }

    .container-filters_div-body{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .container-filters_div-body_h3{
            margin-top: 16px;
            font-size: 1.3rem;
            font-weight: 600;
            color: $color-secondary;
        }
        .container-filters_div-body_section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .container-filters_div-body_section_div{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .container-filters_div-body_section_div_label{
                    margin-left: 8px;
                    margin-bottom: 2px;
                }
                .container-filters_div-body_section_div_input{
                    width: 16px;
                    height: 16px;
                }
                .container-filters_div-body_section_div_input:checked{
                    accent-color: $color-secondary;
                }
            }
        }
        .container-filters_btn{
            margin-top: 16px;
            background-color: $color-secondary;
            color: white;
            height: 35px;
            width: 100px;
            font-weight: 600;
            border: none;
            border-radius: 6px;
        }
    }
}

//products [detail] component

.container-detail{
    display: flex;
    flex-wrap: wrap;
    .gallery{
        padding: 16px;
    }
    .container-detail_main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .container-detail_main_h1{
            width: 100%;
            font-weight: 600;
            margin-top: 16px;
            padding: 0px 16px;
            .container-detail_main_h1_span{
                margin-left: 8px;
                font-size: 1.2rem;
                font-weight: 600;
                color: $color-secondary;
            }
        }
        .container-detail_main_div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0px 16px;
            .container-detail_main_div_aside{
                display: flex;
                align-items: center;
                .container-detail_main_div_aside_p{
                    margin-left: 8px;
                }
                .red{
                    color: red;
                }
                .green{
                    color: green;
                }
            }
            .container-detail_main_div_aside-today{
                display: flex;
                align-items: center;
                margin: 8px 0px;
                .container-detail_main_div_aside-today_svg,
                .container-detail_main_div_aside-today_p{
                    color: $color-secondary;
                }
                .container-detail_main_div_aside-today_p{
                    margin-left: 8px;
                }
            }
        }

        .container-detail_main_div-description{
            .container-detail_main_div-description_h5{
                padding: 0px 16px;
                font-size: 1.2rem;
                font-weight: 600;
                span{
                    width: 50px;
                    border-bottom: 1px solid $color-secondary;
                }
            }
            
            .container-detail_main_div-description_h4{
                padding: 0px 16px;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
    .container-detail_main_div-btn{
        width: 100%;
        padding: 0pc 16px;
        .btn{
            width: 100%;
            height: 50px;
            background-color: $color-secondary;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
            margin-top: 16px;
        }
    }
}

// Contact component

.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container-contact_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .container-contact_main_div{
            margin-top: 32px;
            padding: 0px 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 1.5rem;
                font-weight: 600;
            }
            p{
                margin-top: 16px;
                text-align: center;
            }
        }
        .container-contact_main_form{
            width: 100%;
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .container-contact_main_form_div{
                width: 90%;
                height: 40px;
                margin-top: 16px;
                position: relative;
                input{
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    border: solid 0.5px $color-secondary;
                    z-index: 2;
                    padding-left: 8px;
                    transition: border 0.3s ease-in-out;
                }
                input:hover{
                    border: solid 2px $color-primary;
                }
                input:focus{
                    outline: none;
                    border: solid 2px $color-primary;
                }
                label{
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 19px;
                    left: 8px;
                    width: 20%;
                    height: 1.5rem;
                    transform: translate(0%, -50%);
                    font-size: 1rem;
                    font-weight: 600;
                    color: $color-secondary;
                    transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out;
                }
                input:focus + label,
                .label-up{
                    top: -2px;
                    padding: 0px 2px;
                    width: auto;
                    height: 0.8rem;
                    font-size: 0.8rem;
                    background-color: white;
                    color: $color-primary;
                    transition: all 0.3s ease-in-out;
                }
                .input-color{
                    border: solid 2px $color-primary;
                }
                
            }
            .container-contact_main_form_div:nth-child(4){
                width: 90%;
                height: 70px;
                margin-top: 16px;
                position: relative;
                textarea{
                    padding-top: 6px;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    border: solid 0.5px $color-secondary;
                    z-index: 2;
                    padding-left: 8px;
                    transition: border 0.3s ease-in-out;
                }
                textarea:hover{
                    border: solid 2px $color-primary;
                }
                textarea:focus{
                    outline: none;
                    border: solid 2px $color-primary;
                }
                textarea:not(:empty) + label,
                textarea:focus + label{
                    top: -2px;
                    padding: 0px 2px;
                    width: auto;
                    height: 0.8rem;
                    font-size: 0.8rem;
                    background-color: white;
                    color: $color-primary;
                    transition: all 0.3s ease-in-out;
                }
                .input-color{
                    border: solid 2px $color-primary;
                }
            }
            .container-contact_main_form_btn{
                margin-top: 16px;
                width: 90%;
                height: 40px;
                background-color: $color-secondary;
                border-radius: 8px;
                border: none;
                color: white;
            }
            .container-contact_main_form_btn:hover{
                background-color: $color-primary;
            }
        }
    }
    .container-contact_section{
        margin-top: 32px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            width: 90%;
            padding: 8px 0px;
            background-color: $color-secondary;
            color: white;
            text-align: center;
        }
        .container-contact_section-wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .container-contact_section_div{
                margin-top: 32px;
                width: 350px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                .container-contact_section_div_item{
                    position: relative;
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    svg{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $color-secondary;
                    }
                    .rotating-container{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        animation: rotate 3.5s linear infinite;
                        span{
                            display: block;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: $color-secondary;
                        }
                        @keyframes rotate {
                            0%{
                                transform: rotate(0deg);
                            }
                            100%{
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
                &:hover{
                    svg{
                        color: white;
                        z-index: 2;
                    }
                    .rotating-container{
                        position: relative;
                        span{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background-color: $color-primary;
                            width: 100%;
                            height: 100%;
                            transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
                        }
                    }
                }
    
                .container-contact_section_info{
                    margin-left: 24px;
                    h3{
                        font-size: 1.3rem;
                        font-weight: 600;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 400;
                        color: grey;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    .container-contact_map{
        margin-top: 32px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .map{
            margin-top: 16px;
            width: 90%;
        }
    }
}

//footer component

.footer{
    height: 510px;
    background-color: $color-primary;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr 1fr 0.1fr;
    margin-top: 32px;
    .footer_h6{
        color: white;
        font-size: 1.3rem;
        padding: 16px 0px 07px 16px;
        font-weight: 600;
    }

    .footer_address{
        grid-column: 1;
        grid-row: 1;
        .footer_address_div{
            margin-left: 16px;
            margin-bottom: 16px;
            .footer_address_div_p{
                color: white;
                font-weight: 600;
            }
            .footer_address_div_p:nth-child(1){
                margin-bottom: 4px;
            }
            .footer_address_div_p:nth-child(2){
                margin-left: 8px;
            }
            .footer_address_div_link{
                margin-top: 6px;
                text-decoration: none;
                color: $color-secondary;
                font-weight: 600;
                margin-left: 8px;
            }
        }
        .footer_address_div:nth-child(4){
            margin-bottom: 0;
        }
    }

    .footer_nav{
        grid-column: 2;
        grid-row: 1;
        .footer_nav_ul{
            .footer_nav_ul_li{
                display: flex;
                align-items: center;
                margin-left: 16px;
                margin-bottom: 16px;
                .footer_nav_ul_li_link{
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }

    .footer_section{
        grid-column: 1;
        grid-row: 2;
        .footer_section_ul{
            .footer_section_ul_li{
                .footer_section_ul_li_link{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    margin-left: 16px;
                    margin-bottom: 16px;
                    .footer_section_ul_li_link_svg{
                        margin-right: 8px;
                    }
                    .instagram_svg{
                        color: rgb(247, 105, 128);
                    }
                    .tiktok_svg{
                        color: black;
                    }
                }
            }
        }
    }

    .footer_form{
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        .footer_form_input{
            width: 90%;
            height: 40px;
            border: none;
            border-radius: 8px;
            padding: 0 16px;
            margin-bottom: 16px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
        .footer_form_btn{
            width: 90%;
            height: 40px;
            border: none;
            border-radius: 8px;
            padding: 0 16px;
            margin-bottom: 16px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            font-weight: 600;
            font-size: 14px;
            background-color: $color-secondary;
            color: white;
            cursor: pointer;
        }
    }

    .footer_p{
        grid-column: 1/  span 2;
        grid-row: 3;
        color: rgb(255, 255, 255);
        font-size: 14px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {

    //slider coponent
    .navbar-desktop_search{
        width: 350px;
    }

    //Desktop conponent
    .navbar-desktop{
        height: 90px;
        padding: 8px 0px;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 100%;
        background-color: $color-primary;
        .navbar-desktop_img{
            width: 100%;
            grid-column: 1;
            grid-row: 1;
            margin-left: 8px;
        }
        .container-navigation{
            grid-column: 2;
            grid-row: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .container-navigation_div{
                margin: 0px 8px;
                a{
                    color: white;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1rem;
                    &:hover{
                        color: $color-secondary;
                    }
                }
            }
        }
    }

    //FiltersComponent
    .container-products-category{
        height: 90vh;
        position: relative;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 90% 10%;
        .container-filters {
            padding-left: 8px;
            grid-column: 1;
            grid-row: 1 / span 2;
        }
        .container-card{
            grid-column: 2;
            grid-row: 1;
            overflow-y: scroll;
        }
        .paginate-container{
            grid-column: 2;
            grid-row: 2;
        }
    }

    //footer

    .footer{
        height: 400px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60% 35% 5%;

        .footer_address{
            grid-column: 1;
            grid-row: 1;
        }
        .footer_nav{
            grid-column: 3;
            grid-row: 1;
            .footer_nav_ul{
                .footer_nav_ul_li:hover .footer_nav_ul_li_link{
                    color: $color-secondary;
                }
            }
        }
        .footer_section{
            grid-column: 2;
            grid-row: 1;
            .footer_section_ul{
                .footer_section_ul_li{
                    width: 35%;
                    .footer_section_ul_li_link:hover .footer_section_ul_li_link_svg{
                        transform: rotateZ(-25deg);
                        transition: all 0.2s ease-in-out;
                    }
                }
                } 
        }
        .footer_form{
            grid-column: 2;
            grid-row: 2;
        }
        .footer_p{
            grid-column: 1 / span 3;
            grid-row: 3;
        }
    }
}

@media screen and (min-width: 1024px) {
    //navbar
    .navbar-desktop{
        .navbar-desktop_img{
            width: 40%;
        }
        .container-navigation{
            margin-right: 16px;
            display: flex;
            .container-navigation_div{
                margin: 0px 16px;
            }
        }
    }
    //Home component
        //item
    .container-cards{
        .container-cards_card{
            width: 150px;
            height: 150px;
            .container-cards_card_img{
                margin-top: -20px;
            }
            .container-cards_card_p{
                font-size: 1.2rem;
                margin-top: 16px;
            }
            &:hover{
                transform: translateY(-8px);
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
        }
    }

    .container-contact{
        height: 100vh;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 10% 60% 30%;
        .container-contact_main{
            grid-column: 2;
            grid-row: 2;
            .container-contact_main_div{
                position: absolute;
                top: 140px;
                left: 50%;
                transform: translate(-50%, -50%);
                h1{
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            }
        }
        .container-contact_section{
            grid-column: 1;
            grid-row: 2;
            h2{
                display: none;
            }
        }
        .container-contact_map{
            grid-column: 1 / span 2;
            grid-row: 3;
        }
    }

    //detail componen
    .container-detail{
        display: grid;
        grid-template-columns: 50% 40%;
        grid
        .gallery{
            grid-column: 1;
        }
        .container-detail_main{
            margin: 0 auto;
            grid-column: 2;
        }
    }
}